.profile_page .avatar {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin: 15px auto;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.profile_page .avatar img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.profile_page .avatar span {
    width: 100%;
    height: 50%;
    bottom: -100%;
    left: 0;
    position: absolute;
    background-color: #fff8;
    text-align: center;
    font-weight: 400;
    color: rgb(34, 30, 27);
    transition: 0.3 ease-in-out;
}

.profile_page .avatar:hover span {
    bottom: -10%;
}

.profile_page #formFile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

::-webkit-file-upload-button {
    cursor: pointer;
}
